/* simple reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
.background {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* project styles */

.background {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.game {
    background-color: white;
    min-width: 35em;
    min-height: 40em;
}

.title {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.gameboard {
    display: grid;
    padding: 1.5em;
}

.board-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: .3em;
    max-width: 120px;
}

.number {
    width: 35px;
    height: 3.5em;
    background-color: lightgray;
    outline: none;
    border: none;
    border-radius: 8px;
}