/* simple reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
.main {
    font-family: 'Montserrat', sans-serif;
}

/* project styles */

.background {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
}